@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
html{
    scroll-behavior: smooth;
    font-family: "Open Sans", serif;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
*  {
    margin: 0;
    padding: 0;
}
* a{
    text-decoration: none;
    color: black;
    display: inline-block;
    
}
main{
    flex-grow: 1;
    background-image: url(../img/tic-background.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

/*HEADER*/
header{
    position: fixed;
    min-width: 100%;
    z-index: 100;
    backdrop-filter: blur(2px);
    background-color: rgba(0, 0, 0, 0.171);
}
.header-container{
    display: flex;
    justify-content: space-between;
    padding:10px;
    user-select: none;
    align-items: center;
}
.header-title img{
    width: 130px;
    cursor: pointer;
}
.header-container a{
    margin-left: 15px;
    transition: 0.2s;
    font-size: 1rem;
    color: white;
}
.header-container a:hover{
    transform: scale(1.1);
}
.header-container a:active{
    transform: scale(1);
}

/*MAIN*/
main{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    min-height: 100vh;
    position: relative;
    z-index: 1;
}
.main-container{
    flex-direction: column;
    display: flex;
    justify-content: center;
}

.main-title{
    text-align: center;
    display: flex;
    justify-content: center;
    user-select: none;
}
.main-par{
    max-width: 800px;
    text-align: center;
    margin: 25px;
    color: rgb(238, 238, 238);
}
.main-tit-item{
    font-size: 5rem;
    cursor: default;
    color: white;
}


.div-main-btn{
    display: flex;
    justify-content: center;
    user-select: none;
}
.main-btn {
    background-color: #f3f7fe;
    color: #f63b3b;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    padding: 10px;
    transition: 0.3s;
    text-align: center;
  }
  
  .main-btn:hover {
    background-color: #f63b3b;
    box-shadow: 0 0 0 5px #f63b3b5f;
    color: #fff;
    transform: translateY(-3px);
  }
  .main-btn:active{
    transform: scale(0.8);
  }


/*NUESTROS SERVICIOS*/
.nuestros-servicios{
    min-height: 100vh;
    text-align: center;
}
.nue-ser-con{
    display: flex;
    justify-content: center;
}
.nue-serv-item{
    margin: 15px;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.295);
    border-radius: 10px;
    user-select: none;
    transition: .2s;
}
.nue-serv-item p{
    width: 280px;
    margin-top: 15px;
}
.nue-serv-item img{
    width: 280px;
    border-radius: 10px;
}

.nue-serv-item:hover{
    transform: translateY(-10px);
}
.nue-serv-title{
    font-size: 2rem;
    margin: 70px 0px 10px 0px;
    user-select: none;
    color: #f63b3b;
}
.leer-mas-btn{
    border: 2px solid black;
    margin: 20px;
    padding: 8px;
    border-radius: 15px;
    transition: .2s;
}
.leer-mas-btn:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    border: 2px solid red;
}
.leer-mas-btn:Active{
    transform: translateY(4px);
}

















/*GALLERY*/
.gallery{
    min-height: 100vh;
    backdrop-filter: blur(2px);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.377);
    margin: 25px;
    border-radius: 15px;
}
.gallery-tittle{
    margin: 25px;
    text-align: center
}
.gallery-img{
    display: flex;
    justify-content: center;
}
.sec-bac{
    display: flex;
    height: 430px;
    top: 0;
    left: 0;
    width: 95%;
}
.sec-bac img{
    width: 0;
    flex-grow: 1;
    object-fit: cover;
    filter: saturate(0);
    transition: all 0.3s ease;
}
.sec-bac img:hover{
    width: 100px;
    filter: saturate(1);
}
.title-gal-let{
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    margin: 20px;
    transform-origin: center;
    user-select: none;
}
.gal-item-tit{
    cursor: default;
    transition: all .2s;
}