.main__acomety{
    width: 100%;
    justify-content: center;
    justify-items: center;
    margin-bottom: 3rem ;
    background-color: white;
}


.acomety__title{
    font-size: 4rem;
    color: var(--primary-color-logo);
    text-align: center;
}

.acomety__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}



/*SLIDER*/
.slider-container {
    position: relative;
    width: 70%;
    height: 250px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    border-radius: 10px;
}

.slider {
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
}

.slide {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
}

.slide.active {
    opacity: 1;
}

#prevBtn, #nextBtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.308);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
    border-radius: 5px;
}

#prevBtn { left: 10px; }
#nextBtn { right: 10px; }
/*FIN SLIDER */
.content__info{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    text-align: center;
}

.content__explain{
    width: 100%;
    display: flex;
    justify-content: center;
    justify-items: center;
    text-align: center;
}

.acomety__explain{
    width: 70%;
    background: white;
    border-radius: 10px;
    text-align: justify;
    font-size: 1.5rem;
    margin-bottom: 35px;
}

.content__acomety--points{
    display: flex;
    width: 100%;
    justify-content: center;
    justify-items: center;
    gap: 5rem;
    flex-basis: 50%;
}


.acomety--points__explain{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.acomety__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.acomety__list p{
    text-align: justify;
}
.acomety__list h3{
    font-size: 2rem;
}
.acomety__item{
    color: var(--primary-color-logo);
    margin: 15px;
    border-radius: 10px;
    padding: 10px;
    width: 310px;
}
.acomety--points__subtitle{
    font-size: 1.9rem;
    color: var(--primary-color-logo);
    
}

.acomety--points__info{
    font-size: 1.4rem;
    color: var(--color-text);
}



