@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
html{
    scroll-behavior: smooth;
    font-family: "Open Sans", serif;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
*  {
    margin: 0;
    padding: 0;
}
* a{
    text-decoration: none;
    color: black;
    display: inline-block;
    
}

/*HEADER*/
header{
    position: absolute;
    min-width: 100%;
    z-index: 100;
}
.header-container{
    display: flex;
    justify-content: space-around;
    padding: 5px 20px;
    user-select: none;
    align-items: center;
}
.header-title img{
    width: 100px;
    cursor: pointer;
}
.header-container a{
    margin-left: 15px;
    transition: 0.2s;
    font-size: 1rem;
    color: #c90000;
}
.header-container a:hover{
    transform: scale(1.1);
}
.header-container a:active{
    transform: scale(1);
}

/*MAIN*/
.main-index{
    background-image: url(../svg/bg.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#home{
    display: flex;
    justify-content: center;
    height: 100vh;
    position: relative;
    z-index: 1;
}
.main-container{
    flex-direction: column;
    display: flex;
    justify-content: center;
}

.main-title{
    text-align: center;
    display: flex;
    justify-content: center;
    user-select: none;
    align-items: baseline;
}
.main-title h1{
    color: #c90000;
    font-size: 3rem;
}
.main-title h2{
    color: #c90000;
    font-size: 4.2rem;
}
#span-dinamico {
    display: inline-block;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}
.main-par{
    max-width: 800px;
    text-align: center;
    color: rgb(238, 238, 238);
}
.main-par span{
    font-size: 1.5rem;
    font-weight: 350;
    color: #c90000;
}
.main-tit-item{
    font-size: 5rem;
    cursor: default;
    color: white;
}


.div-main-btn{
    display: flex;
    justify-content: center;
    user-select: none;
}
.main-btn {
    background-color: #f3f7fe;
    color: #f63b3b;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    padding: 10px;
    transition: 0.3s;
    text-align: center;
}

.main-btn:hover {
    background-color: #f63b3b;
    box-shadow: 0 0 0 5px #f63b3b5f;
    color: #fff;
    transform: translateY(-3px);
  }
  .main-btn:active{
    transform: scale(0.8);
  }


/*NUESTROS SERVICIOS*/
#servicios{
    background-image: url(../svg/bg-servicios.svg);
    background-position: 'center';
    background-repeat: no-repeat;
    background-size: cover;
}
.nuestros-servicios{
    min-height: 100vh;
    text-align: center;
}
.nue-ser-con{
    display: flex;
    justify-content: center;
}
.nue-serv-item{
    background-color: white;
    width: 270px;
    margin: 15px;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.295);
    border-radius: 10px;
    user-select: none;
    transition:  all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.nue-serv-item:hover{
    outline: #ff0000 0.15em solid;
}
.nue-serv-item p{
    width: 280px;
    margin-top: 15px;
}
.serv-head{
    text-align: center; 
    margin: 10px;
}
.serv-head i{
    margin: 40px;
    color: red;
    display: flex;
    justify-content: center;
    transform: scale(1.45);
}
.serv-head h1{
    font-size: 1rem;
    
}
.serv-body{
    text-align: left;
}
.serv-body p{
    font-size: 0.9rem;
    margin: 10px;
    max-width: 260px;
}
.nue-serv-title{
    font-size: 2rem;
    margin: 80px;
    user-select: none;
    color: white;
}
.estilo-btn-general{
    border: 2px solid black;
    margin: 20px;
    padding: 8px;
    border-radius: 15px;
    transition: .2s;
}
.estilo-btn-general:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0 0px 6px;
    border: 2px solid red;
}
.estilo-btn-general:Active{
    transform: translateY(4px);
}


















/*GALLERY*/
.gallery{
    min-height: 100vh;
    backdrop-filter: blur(2px);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.377);
}
.gallery-tittle{
    margin: 25px;
    text-align: center;
}
.gallery-img{
    display: flex;
    justify-content: center;
}
.sec-bac{
    display: flex;
    height: 430px;
    top: 0;
    left: 0;
    width: 95%;
}
.sec-bac img{
    width: 0;
    flex-grow: 1;
    object-fit: cover;
    filter: saturate(0);
    transition: all 0.3s ease;
}
.sec-bac img:hover{
    width: 100px;
    filter: saturate(1);
}
.title-gal-let{
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    margin: 20px;
    transform-origin: center;
    user-select: none;
}
.gal-item-tit{
    cursor: default;
    transition: all .2s;
    color: red;
}
/*FOOTER*/
footer{
    position: fixed;
    z-index: 99;
    width: 100%;
    display: flex;
    justify-content: end;
    bottom: 0;
}
.footer-container{
    display: flex;
    justify-content: end;
}
.footer-box2{
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.item-footer{
    color: white;
    transform: scale(1.7);
    margin: 10px 15px 10px 15px;
    display: inline-block;
    transition: .2s;
    margin-right: 80px;
}
.item-footer:hover{
}

/*ABOUT*/
.about__presentation{
    width: 89%;
    margin: 7rem;
    display: flex;
    flex-direction: row;
}

.content__about{
    width: 100%;
    display: flex;
    flex-direction: column;

}

.about__content {
    display: flex;
    flex-direction: row;
    width: 57%;
    gap: 4rem;
    padding: 4rem 23rem;
    justify-items: center;
    justify-content: space-between;
}

.about__explain p {
    line-height: 1.8;
    margin-bottom: 1.5rem; 
    font-size: 0.9rem;
    text-align: justify;
    color: #333; 
}

.about__explain p:first-of-type {
    font-weight: bold; 
}

.about__explain p:last-of-type {
    margin-bottom: 0; 
}

.about__img{
    width: 100%;
}

.about__imagen-concrect{
    
}


