@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
html{
    scroll-behavior: smooth;
    font-family: "Open Sans", serif;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
*  {
    margin: 0;
    padding: 0;
}
* a{
    text-decoration: none;
    color: black;
    display: inline-block;
    
}
#home{
    flex-grow: 1;
    background-image: url(../img/tic-background.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

/*HEADER*/
header{
    position: fixed;
    min-width: 100%;
    z-index: 100;
    backdrop-filter: blur(2px);
    background-color: rgba(0, 0, 0, 0.171);
}
.header-container{
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;
    user-select: none;
    align-items: center;
}
.header-title img{
    width: 100px;
    cursor: pointer;
}
.header-container a{
    margin-left: 15px;
    transition: 0.2s;
    font-size: 1rem;
    color: white;
}
.header-container a:hover{
    transform: scale(1.1);
}
.header-container a:active{
    transform: scale(1);
}

/*MAIN*/
main{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    min-height: 100vh;
    position: relative;
    z-index: 1;
}
.main-container{
    flex-direction: column;
    display: flex;
    justify-content: center;
}

.main-title{
    text-align: center;
    display: flex;
    justify-content: center;
    user-select: none;
    align-items: baseline;
}
.main-title h1{
    color: white;
    font-size: 4rem;
}
.main-title h2{
    font-style: italic;
    color: #910000;
    font-size: 5rem;
}
#span-dinamico {
    display: inline-block;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}
.main-par{
    max-width: 800px;
    text-align: center;
    margin: 25px;
    color: rgb(238, 238, 238);
}
.main-par span{
    font-size: 2rem;
    font-weight: 350;
}
.main-tit-item{
    font-size: 5rem;
    cursor: default;
    color: white;
}


.div-main-btn{
    display: flex;
    justify-content: center;
    user-select: none;
}
.main-btn {
    background-color: #f3f7fe;
    color: #f63b3b;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    padding: 10px;
    transition: 0.3s;
    text-align: center;
}

.main-btn:hover {
    background-color: #f63b3b;
    box-shadow: 0 0 0 5px #f63b3b5f;
    color: #fff;
    transform: translateY(-3px);
  }
  .main-btn:active{
    transform: scale(0.8);
  }


/*NUESTROS SERVICIOS*/
.nuestros-servicios{
    min-height: 100vh;
    text-align: center;
}
.nue-ser-con{
    display: flex;
    justify-content: center;
}
.nue-serv-item{
    margin: 15px;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.295);
    border-radius: 10px;
    user-select: none;
    transition: .2s;
}
.nue-serv-item p{
    width: 280px;
    margin-top: 15px;
}
.nue-serv-item img{
    width: 280px;
    border-radius: 10px 10px 0px 0px;
}

.nue-serv-item:hover{
    transform: translateY(-10px);
}
.nue-serv-title{
    font-size: 2rem;
    margin: 70px 0px 10px 0px;
    user-select: none;
    color: #910000;
}
.estilo-btn-general{
    border: 2px solid black;
    margin: 20px;
    padding: 8px;
    border-radius: 15px;
    transition: .2s;
}
.estilo-btn-general:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    border: 2px solid #910000;
}
.estilo-btn-general:Active{
    transform: translateY(4px);
}


















/*GALLERY*/
.gallery{
    min-height: 100vh;
    backdrop-filter: blur(2px);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.377);
    margin: 25px;
    border-radius: 15px;
}
.gallery-tittle{
    margin: 25px;
    text-align: center;
}
.gallery-img{
    display: flex;
    justify-content: center;
}
.sec-bac{
    display: flex;
    height: 430px;
    top: 0;
    left: 0;
    width: 95%;
}
.sec-bac img{
    width: 0;
    flex-grow: 1;
    object-fit: cover;
    filter: saturate(0);
    transition: all 0.3s ease;
}
.sec-bac img:hover{
    width: 100px;
    filter: saturate(1);
}
.title-gal-let{
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    margin: 20px;
    transform-origin: center;
    user-select: none;
}
.gal-item-tit{
    cursor: default;
    transition: all .2s;
    color: #910000;
}
/*FOOTER*/
footer{
    position: fixed;
    z-index: 99;
    width: 100%;
    display: flex;
    justify-content: end;
    bottom: 0;
}
.footer-container{
    display: flex;
    justify-content: end;
}
.footer-box2{
    margin: 0px 15px 15px 0px;
    background-color: #910000;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    width: 150px;
    height: 40px;
}
.footer-box1-container {
    margin: 0px 10px 10px 0px;
    background-color: #910000;
    padding: 8px 15px;
    border-radius: 10px;
    color: white;
    width: 150px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 35px;
    cursor: pointer;
}

.footer-box1-container i {
    font-size: 24px;
    opacity: 1;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.footer-box1-container span {
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    position: absolute;
}
.footer-box1-container a{
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.footer-box1-container:hover i {
    opacity: 0;
    transform: translateY(-10px);
}

.footer-box1-container:hover span {
    opacity: 1;
    transform: translateY(0);
}
.item-footer{
    color: white;
    transform: scale(1.7);
    margin: 10px 15px 10px 15px;
    display: inline-block;
    transition: .2s;
}
.item-footer:hover{
    transform: translateY(-5px) scale(2);
}
.item-footer:active{
    transform: translateY(1px) scale(2);
}

/*ABOUT*/
.about__presentation{
    width: 89%;
    margin: 7rem;
    display: flex;
    flex-direction: row;
}

.content__about{
    width: 100%;
    display: flex;
    flex-direction: column;

}

.about__content {
    display: flex;
    flex-direction: row;
    width: 57%;
    gap: 4rem;
    padding: 4rem 23rem;
    justify-items: center;
    justify-content: space-between;
}

.about__explain p {
    line-height: 1.8;
    margin-bottom: 1.5rem; 
    font-size: 0.9rem;
    text-align: justify;
    color: #333; 
}

.about__explain p:first-of-type {
    font-weight: bold; 
}

.about__explain p:last-of-type {
    margin-bottom: 0; 
}

.about__img{
    width: 100%;
}

.about__imagen-concrect{
    
}


