.pqr{
    height: 100vh;
    display: flex;
    justify-content: center;
}
.pqr-container{
    display: flex;
    flex-direction: column;
}
.pqr-container header{
    display: flex;
    justify-content: center;
}
.pqr-form form{
    display: flex;
    justify-content: center;
    gap: 50px;
}
@media (max-width: 480px){
    .pqr-form form{
        flex-direction: column;
    }
    .doc{
        padding-top: 300px;
    }
}
.pqr-form form textarea{
    resize: none;
    height: 350px;
}
.doc-header{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px;
}
.doc-header h2{
    font-size: 3rem;
    color: var(--primary-color-logo);
}
.doc-header p{
    font-size: 1.5rem;
    margin-bottom: 30px;
}
.doc-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 700px;
    margin: 0 auto;
}
.item{
    width: calc();
    width: 150px;
    border: 1px solid black;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    min-height: 160px;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
}
.item p{
    font-size: 1.4rem;
}
.item img{
    width: 120px;
}
.sub-btn{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.sub-btn button{
    background-color: transparent;
    width: 130px;
    height: 40px;
    border: 1px solid black;
    border-radius: 25px;
    font-size: 1.3rem;
    transition: .2s;
    cursor: pointer;
}
.sub-btn button:hover{
    background-color: var(--primary-color-logo);
    color: white;
    font-size: 1.35rem;
    border-color: var(--primary-color-logo);
}
.form-left select{
    border-color: black;
    padding: 3px 5px;
    font-size: 1.3rem;
    width: 100%;
    border-radius: 5px;
}
/*LABEL DINAMICO*/
.floating-label {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

.floating-label input,
.floating-label textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    transition: all 0.3s ease-in-out;
}

.floating-label label {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #aaa;
    font-size: 16px;
    pointer-events: none;
    transition: all 0.3s ease-in-out;
}

.floating-label input:focus + label,
.floating-label input:not(:placeholder-shown) + label,
.floating-label textarea:focus + label,
.floating-label textarea:not(:placeholder-shown) + label {
    top: -10px;
    left: 0px;
    font-size: 1.5rem;
    color: var(--primary-color-logo);
}

.floating-label textarea {
    height: 120px;
    resize: none;
}
.floating-label textarea + label {
    top: 10px;  
    transform: none;
}
.floating-label textarea:focus + label,
.floating-label textarea:not(:placeholder-shown) + label {
    top: -20px;
    left: 0px;
    font-size: 1.5rem;
    color: var(--primary-color-logo);
}